body {
  height: 100vh;
}

main {
  height: 100%;
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

.navbar-brand > img {
  height: 7%;
  width: 7%;
  margin-right: 10px;
}

.navbar {
  box-shadow: 0px 2px 3px lightgray;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-main-spacer {
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.hov:hover {
  background-color: rgb(243, 209, 157);
}

.nav-item > a {
  font-size: 0.85rem;
}

.login-item {
  border-radius: 10px;
  margin-right: 2px;
}

.account-item {
  border-radius: 10px;
}

.separator {
  border: 1px solid rgb(204, 204, 204);
  width: 1px;
  height: 33px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.admin {
  color: #e79549;
  font-weight: bolder;
}

.main-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.messagerie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-container {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}

.right-container {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}

.request-container {
  border: 1px solid grey;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.management-choices-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat-container {
  display: flex;
  flex-direction: row;
}

.email-content-container {
  border: 1px solid grey;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.recap-spacer {
  padding: 15px;
}

.orga-request-template {
  display: flex;
  flex-direction: row;
  min-height: 15%;
  border: 1px solid grey;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.orga-request-template:hover {
  background-color: antiquewhite;
}

.orga-request-template > div {
  display: flex;
}

.sender-object {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-mail {
  float: right;
}

.mail-content {
  padding: 1rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #d67010;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.manage-user-button, .manage-orga-button {
  border: 1px solid #d67010;
  border-radius: 15px;
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
  width: 45%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-user-button {
  margin-right: 15px;
}

.manage-orga-button {
  margin-left: 15px;
}

.manage-user-button:hover, .manage-orga-button:hover {
  background-color: #e79549;
}

.management-choices-container > div > a {
  text-decoration: none;
  color: black;
}

.stat-container > div {
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10rem;
}

.stat-title {
  height: -moz-fit-content;
  height: fit-content;
}

.stat-number {
  margin-bottom: 1rem;
}

p {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.f-f {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #d67010;
  max-height: 2rem;
}

.stat-title {
  font-size: 1rem;
  font-weight: bold;
}

.date-mail, .sender-mail {
  font-size: 0.7rem;
}

.object-mail {
  font-size: 0.8rem;
}/*# sourceMappingURL=recruiter.css.map */