@use '../../../utils/css/colors/colors';
@use '../../../utils/css/fonts/fonts';

body {
    background: colors.$light-orange;
}
.navbar-brand {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
  }
  
  .navbar-brand > img {
    height: 7%;
    width: 7%;
    margin-right: 10px;
  }
  
  .navbar {
    box-shadow: 0px 2px 3px lightgray;
  }
  
  .navbar-collapse {
    flex-grow: 0 !important;
  }
  
.form-control:focus {
    box-shadow: none;
    border-color: colors.$light-orange
}

.profile-button {
    background: colors.$light-orange;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: colors.$light-orange;
}

.profile-button:focus {
    background: colors.$light-orange;
    box-shadow: none
}

.profile-button:active {
    background: colors.$light-orange;
    box-shadow: none
}

.back:hover {
    color: colors.$light-orange;
    cursor: pointer
}

.labels {
    font-size: 11px
}
